:root {
    --navbar-color: rgb(82 82 82);
    --text-color: #ccc;
    --white-color:white;
    --black-color:#000;
    --old-color-13: #f1c40f;
    --old-color-16: #FF9A00;
    --old-color-p: #27ae60; 
    --header-height: 8rem;
    --color-g: gray;
    --color-brown: #3e2917;
    --paragraph-color:#2a2a2a;
    --main-color: #ff3f00;
    --second-color: #3EC1D3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth; 
}

.old-13 {
    background-color: var(--old-color-13); 
}

.old-16 {
    background-color: var(--old-color-16); 
}

.old-p {
    background-color: var(--old-color-p);
}

/* common */ 
.center {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.clear {
    clear: both;
} 

.flex {
    display: flex;
}

.buy-btn {
    display: flex;
    padding: 0.8rem 0;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--white-color); 
    justify-content: center;
    border-radius: 0.3rem;
    background: rgb(255,154,0);
    background: linear-gradient(90deg, rgba(255,154,0,1) 0%, rgba(255,22,93,1) 50%, rgba(62,193,211,1) 100%);
    background-size: 300% 100%; 
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.buy-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* .header.sticky {  
    background-color: #fff;  
}

.header.sticky .navbar__search-bar {
    border-color: #000 ;    
}

.header.sticky .navbar__search-bar-inp {
    background-color: #fff;
}

.header.sticky .navbar__search-bar-icon {
    color: white;
} */

.back-to-top {
    opacity: 0;  
    position: absolute;
    background-color: var(--white-color);
    /* background-color: #ff8906; */
    /* transform: opacity .5s; */
    text-decoration: none;
    font-size: 2rem;
    border-radius: 50%;
    padding: 1rem 1.5rem;
    color: var(--black-color);    
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.back-to-top.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 912931999; 
    transition: opacity ease-in .3s; 
    opacity: 1; 
}


/* Modal view trailer */
.modal-buy-ticket.open,
.modal.open{
    display: flex;
}

.modal-buy-ticket,
.modal {
    position: fixed; 
    top: 0;
    bottom: 0;  
    left: 0;
    right: 0;   
    z-index: 199999000;
    background-color: rgba(0, 0, 0, 0.8); 
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-js {   
    width: 900px;
    background-color: white; 
    padding: 24px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 18px;
    font-size: 1.6rem;
    cursor: pointer;
}
 

.modal-title {
    font-size: 3.2rem;
    padding: 8px 0;
    text-align: center;
}

.film-link {  
}

.film-link iframe{
} 

/* border bottom */
.stick {
    width: 100%;
    background-color: var(--white-color);

}
.border-bottom {
    width: 50%;
    margin: auto;
    background-color: var(--main-color);
    border: .2rem solid var(--main-color);
}

.paragraph-color {
    color: var(--paragraph-color);
}

/* Modal buy ticket */ 
.modal-buy-ticket {
    /* display: flex; */
}



.modal-buy{
    background:url('/assets/img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1200px;  
    border-radius: 8px; 
} 

.modal-buy__time {
    margin-top: 1.2rem; 
    width: 90%; 
    margin: 2.4rem auto;
} 

.buy__time-border {
    border-bottom: 2px solid var(--paragraph-color);
}

.modal-buy__title {
    color: var(--white-color);
    text-align: center;
    font-size: 1.6rem;
    padding: 12px;
}

.buy__time-wrapped {
    cursor: pointer;
    text-align: center;
    padding: 1.4rem 0;
    /* background-color: var(--main-color);  */
    color: var(--white-color);
    font-size: 1.6rem; 
    transition: all ease 0.3s;
}

.buy__time-wrapped:hover {
    background-color: var(--main-color); 
}

.active-modal-buy {
    background-color: var(--main-color); 
}  

.buy__theatre-place {
    width: 100%;
}

.modal-buy__theatre {
    font-size: 2rem;
    color: var(--white-color);
}

.box__info-theatre {
    padding: 3.2rem 0;
    background: linear-gradient(45deg, rgba(0,0,0,0.2), rgba(255,255,255,0.2));
    /* border-bottom: 1px solid var(--main-color); */
    margin-bottom: 4rem !important;
}
.modal-buy__theatre a {
    text-decoration: none;
}

.buy__theatre-place { 
    background-color: #1c2936;
    display: block;
}

.buy__theatre-infor { 
    font-size: 1.8rem;
    padding: 1.9rem 1.7rem;
    line-height: 1.6;
}
.buy__theatre-infor-address {
    color: #90a0ba;
    margin: 1rem 0;
    font-size: 1.6rem;
}

.buy__theatre-type {
    padding: .5rem;
}

.buy__theatre-type-HD,
.buy__theatre-type-numberCinema {
    padding: 1.5rem 1.5rem;
    text-align: center;
    align-items: center;
}

.buy__theatre-type-HD {
    color: white;
    background-color: var(--main-color);
}

.buy__theatre-type-numberCinema {
    color: var(--second-color);
    border: .2rem solid var(--second-color);
    margin-top: 1rem;
    font-weight: bold;
}

.buy__theatre-locate {
    display: block;
    text-align: center;
    background-color: var(--main-color);
    color: white !important;
    font-size: 1.4rem;
    padding: 0.8rem;
}

.buy__theatre-locate:hover {
    color: var(--main-color) !important;
    background-color: white;
    transition: ease-in .2s;

}

.buy__theatre-exactlyTime {
    background-color: #000;
    color: white;
    padding: 1.5rem;
    margin: 0 0 1.5rem;
    display: block;
    text-align: center;
}

.buy__theatre-exactlyTime:hover {
    color: white;
    background-color: var(--main-color);
    transition: ease-in .2s;
}