:root {
    --navbar-color: rgb(82 82 82);
    --text-color: #ccc;
    --white-color:white;
    --old-color-13: #f1c40f;
    --old-color-16: #FF9A00;
    --old-color-p: #27ae60; 
    --header-height: 8rem;
    --color-w: white;
    --color-g: gray;
    --paragraph-color:#2a2a2a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.old-13 {
    background-color: var(--old-color-13); 
}

.old-16 {
    background-color: var(--old-color-16); 
}

.old-p {
    background-color: var(--old-color-p);
}

/* common */ 
.center {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.clear {
    clear: both;
} 

.flex {
    display: flex;
}

.buy-btn {
    display: flex;
    padding: 0.8rem 0;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-w); 
    justify-content: center;
    border-radius: 0.3rem;
    background: rgb(255,154,0);
    background: linear-gradient(90deg, rgba(255,154,0,1) 0%, rgba(255,22,93,1) 50%, rgba(62,193,211,1) 100%);
    background-size: 300% 100%; 
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.buy-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}