
.container__booking {
    font-size: 1.6rem;
    color: white; 
    margin: 3.8rem 0;
}

/* movie information */
.movie {
    
}

.movie-img {

}

.movie-img img {
    width: 70%;
}

.movie-info {

}

.movie-info-name {
    font-size: 4.2rem;
    font-weight: 500;
}

.movie-info-name-eng {
    font-style: italic;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 0.5rem;
}

.movie-info-line-wrapped {
    padding-top: 4rem;
}

.movie-info-line {
    display: flex;
    padding: 1.5rem 0;
    font-size: 1.4rem;
}

.movie-info-content {
    padding: 0 2rem;
    color: var(--text-color);
}

/* book seat */
.seat-book-wrapper {
    padding: 7.6rem;   
}

.screen {
    width: 65%; 
    perspective: 100rem;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.screen-text {
    padding: 5rem 0;
    width: 100%;
    transform: rotateX(-35deg);
    display: block;
    text-align: center;
    background-size: cover;
    background-blend-mode: hard-light;
    background: linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
    -webkit-animation: hue-rotate 3s linear infinite;
    animation: hue-rotate 3s linear infinite;
    box-shadow: 0 0px 24px 4px rgba(255,255,255,0.7);
}

.seats { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 3.2rem;
    /* background: linear-gradient(90deg); */
}
.seat { 
    margin: 0.3rem 0;
    display: flex;     
}

.seat-text {
    padding: 0.5rem;
    margin-right: 1.5rem;
    justify-content: center;
    color: yellow;
}

.seats-number {
    display: flex; 

}

.seat-number {
    width: 4rem;
    height: 4rem; 
    margin: 0 .3rem;
    border-radius: 1.2rem;
    border: .1rem solid white;
    text-decoration: none;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .seat-number.normal:hover {
    background-color: #fff;
} */

.vip {
    border-color: var(--main-color);
}

/* Pay */
.pay {
    padding: 1.8rem 0;
    font-size: 1.6rem;  
    display: flex;
    justify-content: center;
}

.pay-wrapper {
    width: 70%;
    border: .1rem solid orange;
}

.pay__content {
    padding: 0 3rem;
    border: .1rem solid blue; 
}

.pay-data {
    padding: 1.2rem 3rem;
    width: 100%; 
    display: flex;
    justify-content: space-between;
}

.pay-data-header {
    font-weight: bold;
}

.ticket-normal, 
.ticket-vip {
    text-align: left;
}

.ticket-normal::before,
.ticket-vip::before {
    content: "";
    display: inline-block;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 .5rem 0 0 ;
}

.ticket-normal::before {
    border: .1rem solid white;
}

.ticket-vip::before {
    border: .1rem solid red;
}

/* animation screen */
@-webkit-keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}



/* Selected js */
.select {
    background-color: var(--main-color);
    border: 0.1rem solid var(--white-color);
    animation: fadeIn ease-in 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}