.container-page1 {
    background-color: var(--body-color);
}

.content { 
    position: relative;
    width: 100%;  
} 

.content-info { 
    background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),url(https://static1.colliderimages.com/wordpress/wp-content/uploads/2022/06/dragon-ball-z-super-hero.jpg);
    width: 100%;  
    height: 70vh; 
    background-size: cover;
    background-position: top center; 
}  

.infor__trailer-play-btn {
    position: absolute;
    z-index: 10;
    display: block;
    padding: 1.2rem 2rem;
    color: red;
    top: 50%;
    left: 50%;
    text-decoration: none;
    font-size: 3.6rem; 
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%); 
}

.infor__trailer-play-btn > i {
    position: absolute;
    z-index: 10;    
    transform: translateX(-50%) translateY(-50%);
    margin-left: .3rem; 
}

.infor__trailer-play-btn::before {
    content: "";
    position: absolute; 
    width: 80px;
    height: 80px;
    background: #ccc; 
    z-index: 0;
    display: block;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: pulse-border 1.5s ease-out infinite;
}

.infor__trailer-play-btn::after {
    content: "";
    position: absolute;
    z-index: 1; 
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background-color: var(--white-color);
    border-radius: 50%;
    transition: all 0.3s;
}

.infor__trailer-play-btn:hover::after {
    background-color: #ddd;
} 


.infor__name {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 25%;
}

.infor__name-img {
    width: 100%;
}


/* Booking FILM  */
.booking-wrapper {
    padding: 5.6rem 0 8.6rem;
}

.detail__infor-wrapper { 
    margin: 2.4rem 0;
}

.detail__infor-name,
.detail__infor-score {
    font-size: 1.8rem;
    color: var(--white-color);  
    margin-bottom: 0.8rem;
} 

.detail__infor-score {
    display: flex;
    align-items: center; 
    margin: 2.4rem 0;
}

.detail__infor-name {
    font-size: 3.2rem; 
    font-weight: bold;
    word-spacing: 0.2rem;
} 

.detail__infor-kind {
    font-size: 1.6rem;
    color: #999;   
    margin-bottom: 0.8rem;
}   

.detail__infor-score-text {
    margin-left: 1.2rem; 
    font-size: 2.4rem;
    font-weight: bold;
}

.detail__infor-score-text > span {
    font-size: 1.8rem;
    font-weight: normal;
} 

.detail__infor-story-title { 
    color: var(--white-color);
    font-size: 2.4rem;
}

.detail__infor-story-content {
    color: #999;
    font-size: 1.6rem;
    margin: 1.2rem 0;
}

.film-booking__schedule {
    padding: 2.4rem 0;
}

.film-booking__schedule .l-10 {
    align-self: center;
} 

.film-booking__schedule-img {
    width: 100%;
} 

.film-booking__days-wrapper {
    padding-bottom: 2.2rem;
    display: block;
    text-align: center;
    color: var(--white-color);
    text-decoration: none;
    transition: all 0.2s;     
    position: relative;
} 

.active-booking {
    color: var(--main-color);
}

.active-booking::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: var(--main-color);
}  

.film-booking__days-wrapper:hover {
    color: var(--main-color);  
} 

.film-booking__date { 
    font-size: 4.6rem;
}

.film-booking__day {
    font-size: 2.2rem; 
}

.film-booking__month {
    font-size: 1.6rem;
} 

.film-booking__time-wrapper {
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--white-color);
    border-radius: .4rem;
    padding: 0.6rem 1.2rem;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    transition: all 0.2s ease-out;
    margin-bottom: 1.2rem;
}

.film-booking__time-wrapper:hover {
    background-color: var(--main-color);
    color: var(--white-color);
} 

.film-booking__theatre {
    padding: 2.4rem 0;
}

.theatre__address {
    padding: 1.2rem;
    color: var(--white-color);
    background-color: var(--main-color);
    border-radius: .4rem;
}

.theatre__address-name {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1.2rem;
}

.theare__address-desc {
    font-size: 1.4rem;
} 

.disable-time {
    visibility: hidden;
}     