/* Grid system */
.grid {
    display: block;
    width: 100%;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.col {
    padding: 0 12px;
}

/* Flex short hand (set the flex length on flex items)
    flex: <flex-grow> <flex-basis> <flex-shrink>
    flex grow: number of grow items in same container
    flex basis: innit lenght flex items
    flex shrink: shirnk relative to the rest of flex items
*/

.l-1 {
    flex: 0 0 8.333333%;
    width: 8.333333%;
} 

.l-3 {
    flex: 0 0 25%;
    width: 25%;
}

.l-4 {
    flex: 0 0 33.33333333%;
    width: 33.33333333%;
}

.l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
} 

.l-6 {
    flex: 0 0 50%;
    width: 50%;
}

.l-8 {
    flex: 0 0 66.66666667%;
    width: 66.66666667%;
} 

.l-9 {
    flex: 0 0 75%;
    width: 75%;
}

.l-12 {
    flex: 0 0 100%;
    width: 100%;
}