

/* header */
.header {
    /* top: 0;
    left: 0;
    position: fixed;
    z-index: 1900000; */
    /* opacity: 0; */
    background-color: white;
    width: 100%;
    height: var(--header-height);
    box-shadow: .0rem .1rem 0 .1rem rgba(0, 0, 0, 0.1);
}

.header-navbar {
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {  
    width: 19%; 
}

.navbar__menu {
    height: inherit;
}

.navbar__logo-link {
    text-decoration: none;
}

.navbar__logo-img {
    width: 100%;
}

.navbar__menu-list {
    height: inherit;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar__menu-item {   
    height: inherit;   
}

.navbar__menu-item-link {
    display: flex;
    align-items: center;
    height:inherit;
    text-decoration: none;
    padding: 0.8rem 1.6rem;
    color: var(--navbar-color);  
    font-size: 1.6rem;
}

.navbar__menu-item-link:hover.navbar__menu-item-link > i { 
    transform: rotate(180deg);
}

.navbar__menu-item-link > i {  
    transition: transform linear 0.1s; 
    margin-left: 0.6rem;
    font-size: 1.2rem;
}


.navbar__search-bar {
    display: flex; 
    border: .1rem solid #ccc;
    border-radius: 0.4rem;
    overflow: hidden; 
}

.navbar__search-bar-inp {
    height:inherit;
    border: none;
    outline: none;
    padding: .6rem 1.6rem; 
    font-size: 1.6rem;
}

.navbar__search-bar-icon {  
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
    cursor: pointer;
}

/* slider */
.slider {
    padding: 5.6rem 0;
}

.slider-wrapped {
    display: flex;
    align-items: center;  
    justify-content: space-between;
}

.slider-img {
    width: 50%;
}

.slider-img__link {
    width: 100%;
}

.background {
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* Body content */
.container {  
    padding-top: var(--header-height);
}

/* Now showing slider */
.now-showing{
    padding: 5.6rem;
    /* background-color: #000; */
    /* background-image: url("https://static.mservice.io/img/momo-upload-api-210701105436-637607336767432408.jpg"); */
    /* background-image: url("../img/background.jpg"); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.slider-tittle {
    color: white; 
    font-size: 1.6rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 3.2rem;
}


/* Film item */
.film__item {

}

.film__item-img-wrapped {
    display: flex;
    width: 100%;
    text-decoration: none;  
    position: relative;
    border-radius: .4rem;
    overflow: hidden;
} 

.film__item-img-wrapped:hover .film__item-img {
    transform: scale(105%);
}

.film__item-img {
    transition: transform 0.2s linear; 
    width: 100%;  
    border-radius: .4rem;
}

.film__item-rank,
.film__item-tag-top {
    color: white;
    position: absolute; 
}

.film__item-rank {
    bottom: -0.6rem;
    left: 0.2rem;
    font-size: 5rem;
    font-weight: bold;
} 

.film__item-tag-top {
    top: 1.2rem;
    left: 1.0rem;  
}

.film__item-old,
.film__item-reserve {
    font-size: 1.4rem; 
    padding: .4rem .8rem; 
    border-radius: .2rem;
}

.film__item-old {  
    
}

.film__item-reserve {
    margin-left: .6rem;
    background-color: #f25f4c; 
    font-weight: bold; 
}

.film__item-reserve > i {
    margin-right: .6rem;
}

.film__item-info { 
    margin-top: .6rem; 
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    line-height: 2rem;
}

.film__item-info-type {
    padding: .4rem 0;
    color: #999;
    font-size: 1.4rem;
}

.film__item-buy-btn {
    
}

.film__item-buy-btn:hover {
     
}

/* trailer */
.trailer {

}

.trailer__content {
    padding: 5.6rem;
}
.trailer__content-heading h1 {
    text-align: center;
    padding-bottom: 3rem;
    color: var(--white-color);
    font-weight: bold;
    font-size: 3.4em;
}
.trailer__content-films {
    justify-content: center;
}
.trailer__content-film-icon {
    border: .28rem solid white;
    color: white;
    position: absolute;
    font-size: 2rem;
    padding: .5rem 1rem;
    border-radius: 50%;
    left: 1.5rem;
    bottom: 1.5rem;
}
.trailer__content-film a:hover img {
    transform: scale(1.05);
}
.trailer__content-film-img {
    position: relative;
}
.trailer__content-film-img img {
    width: 100%;
    height: 14.5rem;
    overflow: hidden;
	transition: transform .3s ease;
}
.trailer__content-film {
    padding: 0 3rem;
}
.trailer__content-film p {
    padding: 0.4rem 0;
    font-size: 1.7rem;
    color: var(--white-color);
}
.trailer__content-film a {
    text-decoration: none;
}
.trailer__content-film-name p {
    
}
.trailer__content-film-type p{
    color: #ccc;
}



/* footer */ 
.footer {
    margin-top: 3rem;
    font-size: 1.7rem;
    width: 100%;
    line-height: 1.4; 
    color: var(--color-brown);
    font-weight: 410;
    background-color: #FF9A00;
}

.footer a {
    text-decoration: none;
    color: #3e2917;
}

.footer ul {
    list-style-type: none;
}
.footer__container {
    padding: 2.5rem 0; 
}

.footer__container a {
    color: var(--color-w);

}

.footer__container a:hover { 
    color: #ccc;
}

.footer__container__about-head > li {
    padding: 0.5rem;
    width: 30%;
}

.footer__container__about-head-box img {
    width: 10rem;
}

.footer__container__about-head-box-lists li {
    padding: 0.5rem 0; 
}


.footer__container__about-head-box-lists li a { 
}

.footer__container__about-head-box1 {
    width: 100%;
}

.footer__container__about-head-box1 img {
    width: 100%;
}

.footer__container__about-head-box1 p {
    font-weight: bold;
    align-items: center;
    color: var(--white-color);
    padding-left: 0.8rem;
}

.footer__container__about-head-box3 img {
    width: 15rem;
}

.footer__container__about-feet-box { 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}  

.footer__container__about-feet-box a {
    padding: 0 0.5rem;
    font-size: 2.5rem;
}

.footer__container__about-feet-box-socials a i{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer__container__about-feet-download {
    width: 50%;
}

.footer__container__about-feet-download a {
    display: flex;
}

.footer__container__about-feet-download a img {
    width: 100%;
}