/* slider */
/* .slider {
    padding: 5.6rem 0;
}

.slider-wrapped {
    display: flex;
    align-items: center;  
    justify-content: space-between;
}

.slider-img {
    width: 50%;
}

.slider-img__link {
    width: 100%;
} */

.content-padding {
    background-color: var(--black-color);
    padding: 8.6rem 0;
}

.background {
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* Body content */
.container {  
    /* padding-top: var(--header-height); */
}

/* Now showing slider */
.now-showing{ 
    background-color: #000; 
    padding-top: 10rem;
}

.slider-tittle {
    color: var(--main-color); 
    font-size: 1.6rem;
    line-height: 4rem;
    text-align: center;  
    padding-bottom: 3.2rem;
}

.slider-tittle__link {
    position: relative;
    text-decoration: none;   
    color: var(--white-color);
    padding: 0 16px; 
}

.slider-tittle__link::after {
    content: '';
    position:absolute;  
    bottom: 0; 
    width: 100%;
    left: 0;     
    height: 2px;
    border-bottom: 2px solid var(--main-color); 
    transform: scaleX(0);   
    transition: transform 0.2s; 
}

.slider-tittle__link:hover {
    color: var(--main-color);
}

.slider-tittle__link:hover.slider-tittle__link::after{    
    transform: scaleX(1);    

}

.blog__category,
.slider-about {
    color: var(--color-g);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3.2rem;
}


/* Film item */
.slider-film {
    position: relative
}

.slider-wrapper {
    position: relative;
    overflow: hidden;    
}

.slider-film-wrapped {
    flex-wrap: nowrap !important; 
}

.slider-pre,
.slider-next {
    text-decoration: none;
    position: absolute; 
    z-index: 100;   
    top: 0;
    bottom: 10%;
    display: flex;
    align-items: center; 
}

.slider-pre { 
    left: -22px;
}

.slider-next {
    right: -22px;
}

.slider-next-link,
.slider-pre-link {
    background-color: rgba(255, 255, 255, 0.8); 
    font-size: 1.4rem;
    display: block; 
    padding: 8px 14px;
    border-radius: 50%; 
    color: black;
}

.film__item {

}

.film__item-img-wrapped {
    display: flex;
    width: 100%;
    text-decoration: none;  
    position: relative;
    border-radius: .4rem;
    overflow: hidden;
} 

.film__item-img-wrapped:hover .film__item-img {
    transform: scale(105%);
}

.film__item-img {
    transition: transform 0.2s linear; 
    width: 100%;  
    border-radius: .4rem;
}

.film__item-rank,
.film__item-tag-top {
    color: white;
    position: absolute; 
}

.film__item-rank {
    bottom: -0.6rem;
    left: 0.2rem;
    font-size: 5rem;
    font-weight: bold;
} 

.film__item-tag-top {
    top: 1.2rem;
    left: 1.0rem;  
}

.film__item-old,
.film__item-reserve {
    font-size: 1.4rem; 
    padding: .4rem .8rem; 
    border-radius: .2rem;
}

.film__item-old {  
    
}

.film__item-reserve {
    margin-left: .6rem;
    background-color: #f25f4c; 
    font-weight: bold; 
}

.film__item-reserve > i {
    margin-right: .6rem;
}

.film__item-info { 
    margin-top: .6rem; 
    display: block;
    text-decoration: none;
    /* color: white; */
    color: var(--paragraph-color);
    font-size: 1.6rem;
    line-height: 2rem;
    min-height: 7rem;
}

.film__item-info-name {
    /* min-height: 4rem; */
    color: var(--white-color);
}

.film__item-info-type {
    padding: .4rem 0;
    color: #999;
    font-size: 1.4rem;
}

.film__item-buy-btn { 
}

.film__item-buy-btn:hover {
     
}



/* blog */
.background-slider {
    background-color: var(--black-color);
    padding: 8.6rem;
}
.blog__categories {
    font-size: 2rem; 
}

.newest,
.viewest {
    padding: 2rem 1rem .7rem;
    margin-bottom: 2rem;
    text-decoration: none;
    color: #999; 
    cursor: pointer;
    position: relative;
}

.blog__categories .viewest {
    margin-left: 4rem;
}
/* .blog__categories .newest::after,
.blog__categories .viewest::after {
    content: "";
    position: absolute;
    height: .2rem;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: orange;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s ease-in-out;

}
.blog__categories .newest:hover::after,
.blog__categories .viewest:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */

/* discount */
.discount {

}
.discount__content .trailer__content-film{
    box-shadow: 0rem 0rem .4rem var(--color-g); 
    border-radius: .6rem;
    overflow: hidden;
}
.discount__content .trailer__content-film:hover {
    box-shadow: .0rem .0rem 1rem var(--color-g);
}
.discount__content .film__item-info {
    padding: .3rem 1.5rem;
} 

/* modal */
.modal-buy .modal-buy__theatre {
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.ranking-showing {  
    background-image: url(https://images3.alphacoders.com/124/1241167.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    background-size: cover;
    position: relative;     
    z-index: 100;  
    box-shadow: 0px -100vh 10px rgba(0, 0, 0, 0.2) inset;  

} 

.ranking__infor,
.ranking__slide { 
    padding: 6.4rem;
    display: flex;
    height: 100vh; 
    align-items: center; 
    justify-content: center;  
    flex-direction: column; 
    position: relative;
}

.ranking__infor-name {
    font-size: 3.2rem;
}

.slider-buy-btn {
    margin-top: 24px;
    width: 120px;
}

.ranking-trailer {
    flex: 1;  
    display: flex;  
    justify-content: center; 
    align-items: center;
}

.ranking__trailer-icon {
    display: block;
    padding: 1.2rem 2rem;
    color: red; 
    text-decoration: none;
    font-size: 3.6rem; 
    position: absolute;
    z-index: 10;
    border-radius: 50%;
} 

.ranking__trailer-icon > i {
    position: absolute;
    z-index: 10;    
    transform: translateX(-50%) translateY(-50%); 
    margin-left: 0.3rem;
}

.ranking__trailer-icon::before {
    content: "";
    position: absolute; 
    width: 80px;
    height: 80px;
    background: #ccc; 
    z-index: 0;
    display: block;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: pulse-border 1.5s ease-out infinite;
} 

.ranking__trailer-icon::after {
    content: "";
    position: absolute;
    z-index: 1; 
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background-color: var(--white-color);
    border-radius: 50%;
    transition: all 0.3s;
}

.ranking__trailer-icon:hover:after {
    background-color: #ddd;
}

.ranking__number {  
}

.ranking__number-list {
    display: flex;
    list-style-type: none;
    align-items: flex-end; 
    height: 7.6rem;
}

.ranking__number-link {
    text-decoration: none;
    font-size: 2.8rem;  
    color: var(--white-color);
    padding: 0 1.2rem;
    display: flex;  
    width: 7rem;
}

.ranking__direct {
    text-decoration: none;
    font-size: 2.8rem;
    color: var(--text-color);
    margin: 0 1.2rem; 
}  

.ranking-active {
    font-size: 4.8rem;
    color: var(--main-color); 
    transition: 0.4s;
} 

.ranking__social {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}