.content { 
    /* position: relative; */
    width: 100%; 
    margin-bottom: 8.6rem;
}

.content-video-wrapped { 
    position: relative;  
    filter: brightness(70%); 
    width: 100%;    
}

.content-video {  
    min-width: 100%;
    min-height: 100%;  
    
}

.content-info { 
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(https://images3.alphacoders.com/124/1241167.png);
    /* background-image: url(https://images3.alphacoders.com/124/1241167.png); */
    width: 100%;  
    padding: 12rem 0;  
    background-size: cover;
    background-position: top center; 
}

.info__img-wrapped {
    position: relative;
    width: 100%;
}

.info__img {
    border-radius: .4rem;
    width: 100%;
}

.info__img-play-btn {
    position: absolute;     
    top: 45%; 
    left: 50%;
    font-size: 3.2rem;
    color: var(--white-color);    
    transition: transform 0.1s linear;
}

.info__img-play-btn::after {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: -2.2rem;
    width: 6.0rem;
    height: 6.0rem;
    border: .2rem solid var(--white-color);
    border-radius: 50%;
}

.info__img-play-btn:hover {
    transform: scale(120%);
}

.infor__about { 
    display:flex;
    flex-direction: column;
    width: 100%; 
    height: 100%; 
}

.infor__about-old {
    margin-top: .2rem;
    padding: .2rem .6rem; 
    width: 3.8rem;
    border-radius: .4rem;
    color: var(--white-color);
    font-size: 1.4rem;
}

.infor__about-title {
    font-size: 4.2rem;
    color: var(--white-color); 
    margin: 1.2rem 0;
}

.infor__about-desc {
    font-size: 1.4rem;
    margin: .6rem 0;
    color: var(--text-color);
    display: flex;  
} 

.infor__about-desc-dot {
    font-size: 2.0rem;
    margin: 0 1.2rem; 
    line-height: 0.5rem;
    text-align: center;
} 

.infor__about-unit {
    font-size: 1.4rem;
    font-style: italic;
    margin: 2.4rem 0;
    color: var(--text-color);
}

.infor__about-content-title {
    font-size: 2.4rem;
    color: var(--white-color);
}

.infor__about-content-desc {
    font-size: 1.4rem;
    margin: 1.2rem 0; 
    line-height: 1.6;
    color: var(--text-color);
}

.infor__about-footer { 
    font-size: 1.4rem;
    display:flex; 
}

.infor__about-footer-wrapped {
    margin-right: 2.4rem;
}

.infor__about-footer-title {
    margin-bottom:.6rem;
    color: var(--text-color);
}

.infor__about-footer-content {
    color: var(--white-color);
    font-weight: bold;
}

.infor__about-buy {
    margin-top: auto; 
    margin-bottom: .3rem;
}

.infor__about-buy-btn {
    cursor:pointer;
    font-size: 2.2rem;
    padding: 1.6rem 4.8rem;
    background-color: orange;
    border:none;
    border-radius: .4rem;
    color: var(--white-color);
    width: 200px; 
} 

/* position */


