.container-page1 {
    background-color: var(--body-color);
}

.content { 
    position: relative;
    width: 100%;  
} 

.content-info { 
    background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),url(https://images3.alphacoders.com/124/1241167.png);
    /* background-image: url(https://images3.alphacoders.com/124/1241167.png); */
    width: 100%;  
    height: 100vh; 
    background-size: cover;
    background-position: top center; 
}  

.infor__trailer-play-btn {
    position: absolute;
    z-index: 10;
    display: block;
    padding: 1.2rem 2rem;
    color: red;
    top: 50%;
    left: 50%;
    text-decoration: none;
    font-size: 3.6rem; 
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* animation: pulse-border 1.5s ease-out infinite; */
}

.infor__trailer-play-btn > i {
    position: absolute;
    z-index: 10;    
    transform: translateX(-50%) translateY(-50%);
    margin-left: .3rem;

}

.infor__trailer-play-btn::before {
    content: "";
    position: absolute; 
    width: 80px;
    height: 80px;
    background: #ccc; 
    z-index: 0;
    display: block;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: pulse-border 1.5s ease-out infinite;
}

.infor__trailer-play-btn::after {
    content: "";
    position: absolute;
    z-index: 1; 
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background-color: var(--white-color);
    border-radius: 50%;
    transition: all 0.3s;
}

.infor__trailer-play-btn:hover::after {
    background-color: #ddd;
} 


.infor__name {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 25%;
}

.infor__name-img {
    width: 100%;
}


/* Booking */
.booking-wrapper {
    padding: 5.6rem 0 8.6rem;
}
 
.booking__infor-name,
.booking__infor-score {
    font-size: 1.8rem;
    color: white;  
    margin-bottom: 0.8rem;
}

.booking__infor-kind {
    font-size: 1.6rem;
    color: #999;   
}

.booking__infor-score { 
    float: right;
}

.booking__schedule {
    padding: 2.4rem 0;
}

.booking__schedule .l-10 {
    align-self: center;
} 

.booking__schedule-img {
    width: 100%;
}

.booking__days {  
}

.booking__days-wrapper {
    padding-bottom: 2.2rem;
    display: block;
    text-align: center;
    color: var(--white-color);
    text-decoration: none;
    transition: all 0.2s;     
    position: relative;
} 

.active-booking {
    color: var(--main-color);
}

.active-booking::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: var(--main-color);
} 

.active-booking::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: -20px;
    left: 50%;
    right: 50%;
    background-color: var(--main-color);
    border-radius: 50%;
}

.booking__days-wrapper:hover {
    color: var(--main-color);  
} 

.booking__date { 
    font-size: 4.6rem;
}

.booking__day {
    font-size: 2.2rem; 
}

.booking__month {
    font-size: 1.6rem;
}

.booking__time {  
} 

.booking__time-wrapper {
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--white-color);
    border-radius: .4rem;
    padding: 0.6rem 1.2rem;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    transition: all 0.2s ease-out;
    margin-bottom: 1.2rem;
}

.booking__time-wrapper:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.booking__time-text { 
}

.booking__theatre {
    padding: 2.4rem 0;
}

.theatre__address {
    padding: 1.2rem;
    color: var(--white-color);
    background-color: var(--main-color);
    border-radius: .4rem;
}

.theatre__address-name {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1.2rem;
}

.theare__address-desc {
    font-size: 1.4rem;
}

.detail__title {
    border-bottom: 4px solid;
    /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
    border-image-source: linear-gradient(to right,var(--main-color),var(--main-color),rgb(17, 16, 16));
    border-image-slice: 1;
}

.detail__title-film,
.deltail__story {
    font-size: 2.2rem;
    color: var(--white-color);
}

.disable-time {
    visibility: hidden;
}

.detail__paragraph {
    padding: 3.2rem 0 5.2rem;
}

.detail__paragraph-wrapper {

}

.detail__paragraph-infor {
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 2.4rem 0 1.2rem;
    border-bottom: 1px solid var(--navbar-color);
    display: flex;
    justify-content: space-between;
}

.detail__paragraph-infor:first-child {
    padding-top:0;
}

.detail__paragraph-infor > span {
    color: var(--white-color); 
}

.detail__paragraph-story {
    color: var(--text-color);
    font-size: 1.6rem;
}