/* variable */
:root {
    --border-radius: .5rem;
    --bg-color-pay: #15141a;
    --bg-color-content: #23202b;
}

/* new */
body {
    background-color: #0d0d0f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   

.pay {
    padding: 18rem 0 8.6rem;
    color: white;
    font-size: 2rem;
}

.pay-body {
    /* border: .1rem solid white; */
    /* height: 20rem; */
}


/* form */
.form-wrapper {
    /* width: 400px; */
	/* margin: 50px auto; */
	/* text-align: center;
	position: relative; */
}

.form-wrapper fieldset {
    background: #23202b;
    border: 0 none;
    border-radius: .5rem;
    box-shadow: 0 0 1.5rem .1rem rgba(0, 0, 0, 0.4);
    padding: 2rem 3rem;
    margin: 0 auto;
    animation: facein .5s ease;
}

@keyframes facein { 
    from {
        transform: translateY(-5rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
} 

fieldset .button-wrapper {
    width: 100%;
    text-align: center;
}

.form-wrapper fieldset:not(:first-of-type) {
    /* display: none; */
}

fieldset input[type=text] {
    padding: 15px;
	/* border: 1px solid #ccc; */
    /* border: none; */
	border-radius: var(--border-radius);
	margin-bottom: 1rem;
	width: 100%;
	font-family: montserrat;
	/* color: #2C3E50; */
	font-size: 1.4rem;
}
fieldset input[type=text]:focus {
    outline: none;
}

/* buttons */
.action-button {
    width: 10rem;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	padding: 1rem .5rem;
	margin: 1rem .5rem;

    transition: all .3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 
        2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    background: #ff3f00;
    background: linear-gradient(0deg , #ff3f00 0%, #eb4f1b 100%);
}

.span-action-button {
    display: block;
    width: 100%;
    height: 100%;
}

.action-button::before,
.action-button::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #ff3f00;
    transition: all .7s ease;
}

.action-button::before {
    height: 0%;
    width: .2rem;
}

.action-button::after {
    width: 0%;
    height: .2rem;
}

.action-button:hover {
    background: transparent;
    box-shadow: none;
}

.action-button:hover:before {
    height: 100%;
}

.action-button:hover:after {
    width: 100%;
}

/* button span */
.span-action-button:hover {
    color: white;
}

.span-action-button::before,
.span-action-button::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #ff3f00;
    transition: all .7s ease;
}

.span-action-button::before {
    width: .2rem;
    height: 0%;
}

.span-action-button::after {
    height: 0%;
    height: .2rem;
}

.span-action-button:hover::before {
    height: 100%;
}

.span-action-button:hover::after {
    width: 100%;
}



/* navigation */
.pay-steps {
    /* justify-content: space-evenly; */
    margin-bottom: 3rem;
    overflow: hidden;
    counter-reset: step; 

    display: flex;
}

.pay-steps {
    margin: 0 auto 2rem;
}

.pay-step {
    list-style-type: none;
    text-align: center;
    /* float: left;
    position: relative; */
    
}

.pay-step::before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	/* font-size: 10px; */
	color: #333;
	background: transparent;  
	border-radius: 3px;
	margin: 0 auto 5px ;
}

.pay-step::after() {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	/* top: 9px; */
	z-index: -1; /*put it behind the numbers*/
} 

.pay-step:first-child::after {
	/*connector not needed before the first step*/
	content: none; 
} 

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.pay-step.active::before,
.pay-step.active::after {
    background-color: #27AE60;
	color: white;
}

.pay-content-heading {
    text-align: center;
    /* border-bottom: .1rem solid #273360; */
    padding: 2rem 0;
}

/* fieldset 1 */
.pay-movie-row {
    justify-content: space-between;
    display: flex;
    padding: 2rem 0;
}
.pay-movie-total-row {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.pay-movie-total-row {
    font-size: 4.5rem;
    border-top: .1rem solid #eee;
}

/* fieldset 2 */
.payment-wallet {
    list-style-type: none;
}
.payment-wallet {
}
label {
    cursor: pointer;
}
.banks-wrapper {
    display: none;
    animation: bankIn .5s ease;
}
@keyframes bankIn {
    from {
        transform: translateX(-5rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.banks {
    display: flex;
}
.bank {
    width: 7%;
    margin: 1.5rem 1rem 2rem;
    cursor: pointer;
}
.bank:hover {
    transform: scale(1.2);
}
.selected-bank {
    transform: scale(1.2);
}
.open-bank {
    display: block;
}
.bank-img {
    width: 100%;
}
.card {

}
/* fieldset 3 */


/* modal */
.pay-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    display: none;    
}
.pay-modal.pay-modal-open {display: flex;}
.pay-modal-container {
    position: relative;
    max-width: calc(100% - 3.2rem);
    width: 50rem;
    min-height: 5rem;
    animation: modalFaceIn ease .6s;
}

@keyframes modalFaceIn { 
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
} 

.pay-modal-container {
    padding: 4rem;
}

.pay-modal-header {
    text-align: center;
    color: white;
    padding: 1rem 0;
}
.pay-modal-qrcode-wrapper {
    margin: 0 auto;
    width: 60%;
}
.pay-modal-qrcode {
    width: 100%;
}

.pay-total-close {
    position: absolute;
    display: none;
}

/* warning */
.warning {
    border: .3rem solid red !important;
    animation: doibien 1s 3;
}
@keyframes doibien {
    from {
        border-color: gray;
    }
    to {
        border-color: red;
    }
}
