
.navbar__menu-mobile {
    display: none;
}

@media (max-width: 739px) { 

    .flex-column-reverse {
        flex-direction: column-reverse;
    }

    /* Trailer btn */
    .trailer-btn-responsive {
        font-size: 1.6rem;
    }

    .trailer-btn-responsive::before,
    .trailer-btn-responsive::after {
        width: 40px;
        height: 40px;
    }

    .trailer-btn-responsive > i {
        margin-left: 0.2rem;
    }

    /* Index */
    .navbar__menu {
        display: none;
    }

    .header {
        padding: 0;
        position: relative;
        background-color: var(--black-color);
    }

    .header.sticky {
        height: auto;
    }
    
    .header-navbar {
        width: 100%; 
        height: auto;  
        padding-left: 1.6rem;  
    }

    .navbar__logo {
        width: 20%;
    }

    .navbar__search-bar {    
        background-color: var(--white-color);   
        border: 0;
        margin-left: 1.6rem;
    }

    .sticky .navbar__search-bar {
    }

    .navbar__search-bar-inp {   
        background-color: var(--white-color);
        color: var(--black-color);
        padding: 1rem;  

    }

    .navbar__search-bar-inp::placeholder {
        color: var(--black-color);
    }

    .navbar__search-bar-icon {
        background-color: var(--white-color);
        color: var(--black-color);
    }

    .navbar__menu-mobile {
        display: block; 
        text-align: center;
    }

    .navbar__menu-mobile-link {   
        color: var(--white-color);
        font-size: 2.4rem;
        text-align: center;
    }

    .sticky .header-navbar { 
    }

    .ranking__infor,
    .ranking__slide {
        height: 200px;
    }

    .ranking-showing__bg {
        position: static;
    }

    .ranking-showing__bg-img {
        height: 200px;
    }

    .ranking__social,
    .ranking__number {
        display: none;
    }

    .ranking__infor, .ranking__slide { 
        padding: 2.2rem;
    } 

    .buy-btn {
        width: 80px;
        padding: 0.8rem 0;
        font-size: 1.2rem;  
        margin-top: 1.2rem; 
    }

    .ranking__infor-name {
        width: 100%;
    }   

    .slider-movie-tittle,
    .slider-tittle {
        padding-bottom: 2.2rem;
    }

    .lineX {
        margin-bottom: 3rem;
    }

    .footer-wrapper {
        padding: 4.8rem 0 0;
    }

    .footer__menu-wrapper {
        flex-direction: column;
    }

    .footer__social {
        padding: 2.4rem;
    }

    .content-padding {
        padding-top: 4.8rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    .modal {
        background-color: var(--black-color);
    }

    .modal-js { 
        width: 100%;
    }

    .modal-close {
        display: none;
    }

    .film-link > iframe { 
        height: 211px; 
    }


    /* Film */
    .content-info {
        height: 200px;
    } 
    
    .booking-wrapper,
    .detail {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    .booking__day {
        font-size: 1.6rem;
    }

    .booking__date {
        font-size: 4rem;
    }

    /* Booking */
    .booking-slider {
        display: none;
    }

    .booking-wrapper .l-8.s-12 {
        order: 1;
    }

    .pay {
        margin: 0;
    }
    
    .booking__infor {
        display: flex;
        justify-content: space-between;
    }

    .screen {
        width: 90%;
    }

    .screen-text {  
    } 

    .seat {
        justify-content: flex-start;
    }

    .booking__infor {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
        border-top: 1px solid #ccc; 
        border-bottom: 1px solid #ccc;
        padding: 1.2rem 0;
    }

    .booking__infor-title {
        display: none;
    }

    .booking__infor-wrapper {
        margin: 0;  
    }

    .booking__infor-wrapper.date { 
        border: none; 
        display: flex;
    }

    .booking__infor-wrapper.type {
        flex: 1; 
    }

    .booking__infor-main {
        padding-left: 2rem;
    }

    .booking__infor-wrapper.time {
        position: relative;
    }

    .booking__infor-wrapper.time::after,
    .booking__infor-wrapper.time::before {
        content: "";
        position: absolute;
        width: 0.55rem;
        height: 0.5rem;
        left: 0.9rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: #ccc;
        border-radius: 50%;
    }

    .booking__infor-wrapper.time::before {
        right: -1.3rem;
        left: auto;
    }

    .infor-date {
        font-size: 1.8rem;
    } 

    .booking__infor-mobile {
        width: 100%;
    }

    .booking__infor-mobile-name {
        font-size: 2rem;
        font-weight: bold;
        padding: 1.2rem 0;
    }

    .booking__infor-day-mobile {
        font-size: 1.8rem;  
        padding-right: 2.2rem;
        position: relative;
    }

    .booking__infor-day-mobile::after {
        content: "";
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        top: 50%;
        transform: translateY(-50%); 
        right: 0.4rem;
        width: 1rem;
        height: 0.2rem;
        background-color: #ccc;
    }
}