@media (max-width: 1024px) {
    /* Trailer btn */
    .trailer-btn-responsive {
        font-size: 1.6rem;
    }

    .trailer-btn-responsive::before,
    .trailer-btn-responsive::after {
        width: 60px;
        height: 60px;
    }

    .trailer-btn-responsive > i {
        margin-left: 0.2rem;
    }

    .trailer__content-film-icon {
        opacity: 1;
    }
 
    /* Index */
    .navbar__menu {
        display: none;
    }

    .header {
        padding: 0;
        position: relative;
        background-color: var(--black-color);
    }

    .header.sticky {
        height: auto;
    }
    
    .header-navbar {
        width: 100%; 
        height: auto;  
        padding-left: 1.6rem;  
    }

    .navbar__logo {
        width: 20%;
    }

    .navbar__search-bar {    
        background-color: var(--white-color);   
        border: 0;
        margin-left: 1.6rem;
    }

    .sticky .navbar__search-bar {
    }

    .navbar__search-bar-inp {   
        background-color: var(--white-color);
        color: var(--black-color);
        padding: 1rem;  

    }

    .navbar__search-bar-inp::placeholder {
        color: var(--black-color);
    }

    .navbar__search-bar-icon {
        background-color: var(--white-color);
        color: var(--black-color);
    }

    .navbar__menu-mobile {
        display: block; 
        text-align: center;
    }

    .navbar__menu-mobile-link {   
        color: var(--white-color);
        font-size: 2.4rem;
        text-align: center;
    }

    .sticky .header-navbar { 
    }

    .ranking__infor,
    .ranking__slide {
        height: 400px;
    }

    .ranking-showing__bg {
        position: static;
    }

    .ranking-showing__bg-img {
        height: 400px;
    }

    .ranking__social {
        display: none;
    }

    .ranking__number { 
    }

    .ranking__number-link {
        width: 6rem;
    }

    .ranking-active {
        font-size: 4rem;
    }

    .ranking__infor, .ranking__slide { 
        padding: 2.2rem 4.8rem;
    }  

    .buy-btn {
        width: 120px;
        padding: 0.8rem 0; 
        margin-top: 1.2rem; 
    }

    .ranking__infor-name {
        width: 100%;
    }   

    .slider-movie-tittle,
    .slider-tittle {
        padding-bottom: 2.2rem;
    }

    .film__item-img-wrapped {
        height: 27rem;
    }

    .lineX {
        margin-bottom: 3rem;
    }

    .footer-wrapper {
        padding: 4.8rem 0 0;
    }

    .footer__menu-wrapper {
        flex-direction: column;
    }

    .footer__social {
        padding: 2.4rem;
    }

    .content-padding {
        padding-top: 4.8rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    .modal {
        background-color: var(--black-color);
    }

    .modal-js { 
        width: 100%;
    }

    .modal-close {
        display: none;
    }

    .film-link > iframe { 
        height: 500px; 
    }  

    /* Film */
    .content-info {
        height: 400px;
    }

    /* More Film */  
    .all-film {
        margin: 0;
    }

    .moreFilm-item {
        padding: 0 2.8rem;
    } 

    .moreFilm__item-buy {
        display: flex;
        width: 100%;
        padding: 1.4rem 0;
        font-size: 1.6rem;
    }  

    .all-film-wrapper {
        padding: 2rem 0;
    }  

    .moreFilm-trailer__content {
        display: flex;
    }

    .moreFilm-body {
        padding-left: 1.6rem;
    }
    
    .moreFilm-body .film__item-info-name { 
        margin: 0;
    } 

    .all-film-page-wrapper {
        font-size: 2.6rem;
    }

    .all-film-pages {
        margin: 0 1rem;
    }

    /* Booking */
    .booking-slider {
        height: 30vh;
    }  
     
    .booking-wrapper {
        padding: 7.2rem 0.8rem;
    }  

    .booking-pay {
        margin: 0;
    }

    .slider__img-wrapper {
        left: .8rem;
    }

    /* News */
    .container-news {
        padding: 5rem 1.6rem;
    }
}

@media (max-width: 740px) { 

    .flex-column-reverse {
        flex-direction: column-reverse;
    }  

    /* Index */     
    .ranking__infor,
    .ranking__slide {
        height: 200px;
    } 

    .ranking-showing__bg-img {
        height: 200px;
    }

    .ranking__social,
    .ranking__number {
        display: none;
    }

    .ranking__infor, .ranking__slide { 
        padding: 2.2rem 1.6rem;
    } 

    .ranking-trailer {
        align-items: center;
    }

    .buy-btn {
        width: 100px; 
    }  

    .film-link > iframe { 
        height: 211px; 
    } 

    .trailer-film-bage {
        padding: 0.6rem 1.6rem;
        font-size: 1.4rem;
    }

    /* Film */
    .content-info {
        height: 200px;
    }  

    .detail {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    } 

    .film-booking-wrapper {
        padding: 0 0.4rem;
    }

    .film-booking__day {
        font-size: 1.6rem;
    }

    .film-booking__date {
        font-size: 4rem;
    } 

    .theatre-wrapper {
        margin-bottom: 1.2rem;
    }

    /* Booking */
    .booking-slider {
        display: none;
    }

    .booking-wrapper .l-8.s-12 {
        order: 1;
    }

    .booking-wrapper {
        padding: 3.2rem 0.8rem;
    }

    .screen {
        width: 90%;
    } 

    .seat {
        justify-content: flex-start;
    }

    .booking__infor { 
        padding: 2.2rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .booking__infor-title {
        display: none;
    }

    .booking__infor-wrapper {
        margin: 0;  
    }

    .booking__infor-wrapper.date { 
        border: none; 
        display: flex;
    }

    .booking__infor-wrapper.type {
        flex: 1; 
    }

    .booking__infor-main {
        padding-left: 2rem;
    }

    .booking__infor-wrapper.time {
        position: relative;
    }

    .booking__infor-wrapper.time::after,
    .booking__infor-wrapper.time::before {
        content: "";
        position: absolute;
        width: 0.55rem;
        height: 0.5rem;
        left: 0.9rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: #ccc;
        border-radius: 50%;
    }

    .booking__infor-wrapper.time::before {
        right: -1.3rem;
        left: auto;
    }

    .infor-date {
        font-size: 1.8rem;
    } 

    .booking__infor-mobile {
        width: 100%;
    }

    .booking__infor-mobile-name {
        font-size: 2rem;
        font-weight: bold;
        padding: 1.2rem 0;
        color: var(--white-color);
    }

    .booking__infor-day-mobile {
        font-size: 1.8rem;  
        padding-right: 2.2rem;
        position: relative;
    }

    .booking__infor-day-mobile::after {
        content: "";
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        top: 50%;
        transform: translateY(-50%); 
        right: 0.4rem;
        width: 1rem;
        height: 0.2rem;
        background-color: #ccc;
    }

    /* pay */
    .pay__content-movie-wrapper {
        display: block;
        padding-bottom: 2.6rem;
    }
    .pay__content-title {
        font-size: 2.8rem;
    }
    .payment-method-img-wrapper {
        width: 21%;
    } 

    .pay {
        padding: 2rem 0.8rem;
    }

    .pay__content {
        padding: 0;
    }

    .payment-total-container {
        padding: 0;
    }

    .pay__content-payment,
    .pay__content-movie {
        padding: 2rem;
    }

    .pay-modal-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* pay modal */
    .modal-right { 
        animation:  modalFaceIn 0.5s; 
    }


    /* More Film */ 
    .moreFilm-item {
        padding: 0;
    } 

    .all-film {
        padding: 0 0.8rem;
    } 

    .moreFilm__item-buy {
        width: 100%;
    } */


    /* News */
    .container-news {
        padding: 4rem 0.8rem;
    }
} 